<h1><%= @category.name %></h1>
<p><%= @category.description %></p>

<h2>Products in this Category:</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= product.name %> - <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>